:root {
  --PRIMARY-1: hsl(158, 36%, 37%);
  --PRIMARY-2: hsl(30, 38%, 92%);
  --NEUTRAL-1: hsl(212, 21%, 14%);
  --NEUTRAL-2: hsl(228, 12%, 48%);
  --NEUTRAL-3: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--PRIMARY-2);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  /*  overflow: hidden; */
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.component {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 90vh;
  justify-content: center;
}

.component__wrapper {
  overflow: hidden;
  display: flex;
  width: 600px;
  height: auto;
  border-radius: 20px;
}

.component__image {
  width: 100%;
  display: block;
  flex: 0 0 50%;
  margin: 0;
}

.component__content--wrapper {
  background-color: var(--NEUTRAL-3);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.component__prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.component__prices--original {
  text-decoration: line-through;
  margin-left: 1rem;
}

.component__prices--sale {
  color: var(--PRIMARY-1);
}

.component__product,
.component__prices--sale {
  margin: 0;
  vertical-align: baseline;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-family: 'Montserrat', sans-serif;
}

button,
input {
  font: inherit;
}

.component__purchase {
  background-color: var(--PRIMARY-1);
  color: var(--NEUTRAL-3);
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.component__purchase:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.component__icon {
  display: inline-block;
  flex: 0 0 1.2rem;
  height: 1.2rem;
  margin: 0 0.5rem 0 0;
}

@media only screen and (max-width: 600px) {
  .component {
    min-height: 80vh;
  }
  .component__purchase {
    height: 2.5rem;
  }

  .component__wrapper {
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: 0.2rem;
    padding: 0;
    border-radius: 10px;
  }
  .component__product,
  .component__prices--sale {
    font-size: 1.6rem;
  }
  .component__content--wrapper {
    padding: 1rem;
  }

  .component__prices,
  .component__prices--original {
    align-items: center;
  }
}

.attribution {
  font-size: 11px;
  /* text-align: center; */
  align-self: start;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
